@import "global"
@font-face
  font-family: 'krypton'
  src: url("/src/assets/fonts/MonaspaceKrypton-Bold.otf")
*
  font-family: krypton, sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box
body
  min-height: 100px
  min-width: 200px
  background-color: $dark-color
main
  margin: 0 auto
  display: block
  scroll-behavior: smooth
.suspend
  background-color: $dark-color
  @include flex-center
  color: white
  font-size: xxx-large