@import "global"
@font-face
  font-family: 'krypton'
  src: url("/src/assets/fonts/MonaspaceKrypton-Bold.otf")
*
  font-family: krypton, sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

body
  height: max-content
  background-color: $dark-color

main
  height: max-content
  margin: 0 auto
  box-sizing: border-box
  .container
    display: block
    scroll-behavior: smooth


