@use "sass:math"
@import "/src/sass/global"


section
  display: grid
section.page1
  position: relative
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 0.6fr 1fr 0.3fr

  .card-3
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 2
    grid-column-end: 3
    background-color: transparent
    z-index: 2
  .my-typing
    grid-row-start: 3
    grid-row-end: 4
    grid-column-start: 1
    grid-column-end: 3
    text-align: center
    margin-top: 1.5em
    background-color: transparent
    z-index: 2
    @include mobile
      font-size: 0.8em
